@model MemberViewModel
@using Portal.Web.Areas.Membership.Models
@using Portal.Web.Areas.Membership
    

<h1>Change Password</h1>

@Html.ValidationMessage("ErrorMessage")

@using (Html.BeginRouteForm(MembershipAreaRegistration.MembershipChangePasswordRouteUrl, FormMethod.Post))
{

    @Html.HiddenFor(o => o.Id)

    <ol class="fields">
    
        <li>
            <div class="left">
                @Html.LabelFor(o => o.ChangePassword.Password) 
                @Html.TextBoxFor(o => o.ChangePassword.Password)
            </div>
            <div class="validation">
                @Html.ValidationMessageFor(o => o.ChangePassword.Password)
            </div>
        </li>

        <li>
            <div class="left">
                <button type="submit" class="right">Save</button>
            </div>
        </li>

    </ol>

}
