@model MemberViewModel
@using Portal.Web.Areas.Membership.Models
@using Portal.Web.Areas.Membership
    

<h2>Change Password</h2>

@Html.ValidationMessage("ErrorMessage")

@using (Html.BeginRouteForm(MembershipAreaRegistration.MembershipChangePasswordRouteUrl, FormMethod.Post))
{

    @Html.HiddenFor(o => o.Id)

    <ul>
    
        <li>
            @Html.LabelFor(o => o.ChangePassword.Password) 
            @Html.TextBoxFor(o => o.ChangePassword.Password)
            @Html.ValidationMessageFor(o => o.ChangePassword.Password)
        </li>

        <li>
            <button type="submit"><div>Save</div></button>
        </li>

    </ul>

}
