@model MemberViewModel
@using Portal.Web.Areas.Membership.Models;
@using Portal.Web.Extensions;
@using Portal.Membership.Enums;

@Html.HiddenFor(o => o.Id)

<ol class="fields">
    
    <li>
        <div class="left">
            @Html.LabelFor(o => o.Username) 
            @Html.TextBoxFor(o => o.Username)
        </div>
        <div class="validation">
            @Html.ValidationMessageFor(o => o.Username)
        </div>
    </li>
    
    
    @if (Model.Id == 0)
    {
    <li class="pasword">
        <div class="left">
        @Html.LabelFor(o => o.ChangePassword.Password) 
        @Html.TextBoxFor(o => o.ChangePassword.Password)
        </div>
        <div class="validation">
            @Html.ValidationMessageFor(o => o.ChangePassword.Password)
        </div>
    </li>
    }
    
    <li>
        <div class="left">
            @Html.LabelFor(o => o.Profile.Email) 
            @Html.TextBoxFor(o => o.Profile.Email)
        </div>
        <div class="validation">
            @Html.ValidationMessageFor(o => o.Profile.Email)
        </div>
    </li>

    
    <li>
        @Html.LabelFor(o => o.Profile.FirstName) 
        @Html.TextBoxFor(o => o.Profile.FirstName)
        @Html.ValidationMessageFor(o => o.Profile.FirstName)
    </li>
    
    <li>
        @Html.LabelFor(o => o.Profile.LastName) 
        @Html.TextBoxFor(o => o.Profile.LastName)
        @Html.ValidationMessageFor(o => o.Profile.LastName)
    </li>
    
    <li>
        @Html.LabelFor(o => o.Profile.Company) 
        @Html.TextBoxFor(o => o.Profile.Company)
        @Html.ValidationMessageFor(o => o.Profile.Company)
    </li>

    <li>
        <div class="left">
            @Html.LabelFor(o => o.Profile.Phone) 
            @Html.TextBoxFor(o => o.Profile.Phone)
        </div>
        <div class="validation">
            @Html.ValidationMessageFor(o => o.Profile.Phone)
        </div>
    </li>
    

    
    <li class="checkbox">
        @for (int i = 0; i < Model.Roles.Count(); i++)
        {
            <div class="float-container">
                @Html.CheckBoxListItemFor(model => model.Roles[i].Id, model => model.SelectedRoles, Model.Roles[i].Name.ToString())
            </div>
        }
    </li>

    <li class="divider"></li>

    <li>
        <div class="left">
            @Html.RouteLink("Cancel", Portal.Web.Areas.Membership.MembershipAreaRegistration.MembershipRouteUrl, new { }, new { @class = "left cancel" })
            <button type="submit" class="right">Save</button>
        </div>
    </li>

</ol>
