@model PageViewModel
@using Portal.Web.Areas.CMS.Models

<ul>
    
    <li>
        @Html.LabelFor(o => o.Name) 
        @Html.TextBoxFor(o => o.Name) 
        @Html.ValidationMessageFor(o => o.Name) 
    </li>
    
    <li>
        @Html.LabelFor(o => o.Url) 
        @Html.TextBoxFor(o => o.Url) 
        @Html.ValidationMessageFor(o => o.Url) 
    </li>
    
    <li>
        @Html.LabelFor(o => o.TemplateId) 
        @Html.DropDownListFor(o => o.TemplateId, Model.Templates)
        @Html.ValidationMessageFor(o => o.TemplateId) 
    </li>
    
    <li>
        <button type="submit"><div>Save</div></button>
        @Html.RouteLink("Cancel", Portal.Web.Areas.CMS.CMSAreaRegistration.CmsPageRouteUrl)
    </li>

</ul>