@model PropertyViewModel
@using Portal.Web.Areas.PropertyEditor.Models
@using Portal.Web.Extensions


@Html.HiddenFor(o => o.Id)

<ol class="fields">
    
    <li>
        <div class="left">
            @Html.LabelFor(o => o.Name) 
            @Html.TextBoxFor(o => o.Name) 
        </div>
        <div class="validation">
            @Html.ValidationMessageFor(o => o.Name)
        </div>
    </li>
    
    <li>
        <div class="left">
            @Html.LabelFor(o => o.Address) 
            @Html.TextBoxFor(o => o.Address) 
        </div>
        <div class="validation">
            @Html.ValidationMessageFor(o => o.Address)
        </div>
    </li>
    
    <li>
        <div class="left">
            @Html.LabelFor(o => o.Town) 
            @Html.TextBoxFor(o => o.Town) 
        </div>
        <div class="validation">
            @Html.ValidationMessageFor(o => o.Town)
        </div>
    </li>

    <li>
        <div class="left">
            @Html.LabelFor(o => o.State) 
            @Html.EnumDropDownListFor(o => o.State) 
        </div>
        <div class="validation">
            @Html.ValidationMessageFor(o => o.State)
        </div>
    </li>

    <li>
        <div class="left">
            @Html.LabelFor(o => o.Tenant) 
            @Html.TextBoxFor(o => o.Tenant) 
        </div>
        <div class="validation">
            @Html.ValidationMessageFor(o => o.Tenant)
        </div>
    </li>

    <li>
        <div class="left">
            @Html.LabelFor(o => o.Department) 
            @Html.TextBoxFor(o => o.Department) 
        </div>
        <div class="validation">
            @Html.ValidationMessageFor(o => o.Department)
        </div>
    </li>

    <li>
        <div class="left">
            @Html.LabelFor(o => o.FloorArea) 
            @Html.TextBoxFor(o => o.FloorArea) 
        </div>
        <div class="validation">
            @Html.ValidationMessageFor(o => o.FloorArea)
        </div>
    </li>
    
    <li>
        <div class="left">
            @Html.LabelFor(o => o.LeaseCommenced) 
            @Html.TextBoxFor(o => o.LeaseCommenced) 
        </div>
        <div class="validation">
            @Html.ValidationMessageFor(o => o.LeaseCommenced)
        </div>
    </li>

    <li>
        <div class="left">
            @Html.LabelFor(o => o.ExpectedCompletionDate) 
            @Html.TextBoxFor(o => o.ExpectedCompletionDate) 
        </div>
        <div class="validation">
            @Html.ValidationMessageFor(o => o.ExpectedCompletionDate)
        </div>
    </li>

    <li>
        <div class="left">
            @Html.LabelFor(o => o.EnergyRating) 
            @Html.TextBoxFor(o => o.EnergyRating) 
        </div>
        <div class="validation">
            @Html.ValidationMessageFor(o => o.EnergyRating)
        </div>
    </li>

    <li class="checkbox">
        <div class="float-container">
            @Html.CheckBoxFor(o => o.IsComplete)
            @Html.LabelFor(o => o.IsComplete)  
        </div>
        
        <div class="float-container">
            @Html.CheckBoxFor(o => o.IsManaged) 
            @Html.LabelFor(o => o.IsManaged) 
        </div>
    </li>

    
    <li>
        <div class="left">
            @Html.RouteLink("Cancel", Portal.Web.Areas.PropertyEditor.PropertyEditorAreaRegistration.ViewAll)
            <button type="submit" class="right">Save</button>
        </div>
    </li>

</ol>
