@model PropertyViewModel
@using Portal.Web.Areas.PropertyEditor.Models
@using Portal.Web.Extensions


@Html.HiddenFor(o => o.Id)

<ul>
    
    <li>
        @Html.LabelFor(o => o.Name) 
        @Html.TextBoxFor(o => o.Name) 
        @Html.ValidationMessageFor(o => o.Name) 
    </li>
    
    <li>
        @Html.LabelFor(o => o.Address) 
        @Html.TextBoxFor(o => o.Address) 
        @Html.ValidationMessageFor(o => o.Address) 
    </li>
    
    <li>
        @Html.LabelFor(o => o.Town) 
        @Html.TextBoxFor(o => o.Town) 
        @Html.ValidationMessageFor(o => o.Town) 
    </li>

    <li>
        @Html.LabelFor(o => o.State) 
        @Html.EnumDropDownListFor(o => o.State) 
        @Html.ValidationMessageFor(o => o.State) 
    </li>

    <li>
        @Html.LabelFor(o => o.Tenant) 
        @Html.TextBoxFor(o => o.Tenant) 
        @Html.ValidationMessageFor(o => o.Tenant) 
    </li>

    <li>
        @Html.LabelFor(o => o.Department) 
        @Html.TextBoxFor(o => o.Department) 
        @Html.ValidationMessageFor(o => o.Department) 
    </li>

    <li>
        @Html.LabelFor(o => o.FloorArea) 
        @Html.TextBoxFor(o => o.FloorArea) 
        @Html.ValidationMessageFor(o => o.FloorArea) 
    </li>
    
    <li>
        @Html.LabelFor(o => o.LeaseCommenced) 
        @Html.TextBoxFor(o => o.LeaseCommenced) 
        @Html.ValidationMessageFor(o => o.LeaseCommenced) 
    </li>

    <li>
        @Html.LabelFor(o => o.ExpectedCompletionDate) 
        @Html.TextBoxFor(o => o.ExpectedCompletionDate) 
        @Html.ValidationMessageFor(o => o.ExpectedCompletionDate) 
    </li>

    <li>
        @Html.LabelFor(o => o.EnergyRating) 
        @Html.TextBoxFor(o => o.EnergyRating) 
        @Html.ValidationMessageFor(o => o.EnergyRating) 
    </li>

    <li class="checkbox">
        @Html.CheckBoxFor(o => o.IsComplete)
        @Html.LabelFor(o => o.IsComplete)  
        @Html.ValidationMessageFor(o => o.IsComplete) 
    </li>

    <li class="checkbox">
        @Html.CheckBoxFor(o => o.IsManaged) 
        @Html.LabelFor(o => o.IsManaged) 
        @Html.ValidationMessageFor(o => o.IsManaged) 
    </li>

    @{Html.RenderPartial("ImageUpload", Model.ImageUpload);}

    <li>
        <button type="submit"><div>Save</div></button>
        @Html.RouteLink("Cancel", Portal.Web.Areas.PropertyEditor.PropertyEditorAreaRegistration.ViewAll)
    </li>

</ul>
