@model MemberViewModel
@using Portal.Web.Areas.Membership.Models;
@using Portal.Web.Extensions;
@using Portal.Membership.Enums;

@Html.HiddenFor(o => o.Id)

<ul>
    
    <li>
        @Html.LabelFor(o => o.Email) 
        @Html.TextBoxFor(o => o.Email)
        @Html.ValidationMessageFor(o => o.Email)
    </li>

    
    <li>
        @Html.LabelFor(o => o.Profile.Username) 
        @Html.TextBoxFor(o => o.Profile.Username)
        @Html.ValidationMessageFor(o => o.Profile.Username)
    </li>

    
    @if (Model.Id == 0)
    {
    <li class="pasword">
        @Html.LabelFor(o => o.ChangePassword.Password) 
        @Html.TextBoxFor(o => o.ChangePassword.Password)
        @Html.ValidationMessageFor(o => o.ChangePassword.Password)
    </li>
    }
    
    
    <li>
        @Html.LabelFor(o => o.Profile.FirstName) 
        @Html.TextBoxFor(o => o.Profile.FirstName)
        @Html.ValidationMessageFor(o => o.Profile.FirstName)
    </li>
    
    <li>
        @Html.LabelFor(o => o.Profile.LastName) 
        @Html.TextBoxFor(o => o.Profile.LastName)
        @Html.ValidationMessageFor(o => o.Profile.LastName)
    </li>
    
    <li>
        @Html.LabelFor(o => o.Profile.Company) 
        @Html.TextBoxFor(o => o.Profile.Company)
        @Html.ValidationMessageFor(o => o.Profile.Company)
    </li>

    <li>
        @Html.LabelFor(o => o.Profile.Phone) 
        @Html.TextBoxFor(o => o.Profile.Phone)
        @Html.ValidationMessageFor(o => o.Profile.Phone)
    </li>
    


 
        @for (int i = 0; i < Model.Roles.Count(); i++)
        {
            <li>
                @Html.CheckBoxListItemFor(model => model.Roles[i], model => model.SelectedRoles, Model.Roles[i].ToString())
            </li>
        }
      

    <li>
        <button type="submit"><div>Save</div></button>
        @Html.RouteLink("Cancel", Portal.Web.Areas.Membership.MembershipAreaRegistration.MembershipRouteUrl)
    </li>

</ul>
