@model NavigationItem
@using Portal.Cms.Controls
@using Portal.Cms.Interfaces
@using Portal.Web.Areas.CMS.Models


<li>
    @Html.LabelFor(o => o.Name) 
    @Html.TextBoxFor(o => o.Name) 
    @Html.ValidationMessageFor(o => o.Name) 
</li>
    
@*<li>
    @Html.LabelFor(o => o.Url) 
    @Html.TextBoxFor(o => o.Url) 
    @Html.ValidationMessageFor(o => o.Url) 
</li>*@
    
<li>
    @Html.LabelFor(o => o.NavigationPageId) 
    @Html.DropDownListFor(o => o.NavigationPageId, Model.Pages.ToList().Select(o => new SelectListItem() { Value = o.Id.ToString(), Text = o.Name })) 
    @Html.ValidationMessageFor(o => o.NavigationPageId) 
</li>

<li>
    @Html.LabelFor(o => o.CssClass) 
    @Html.TextBoxFor(o => o.CssClass) 
    @Html.ValidationMessageFor(o => o.CssClass) 
</li>