@using Auslink.Web.New.Extensions;
@{
    ViewBag.Title = "Property Portfolio - Auslink Property Trust";
    ViewBag.PageId = "property-portfolio-all";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SelectedTab = "Property Portfolio";
    ViewBag.SelctedProperty = "Location Map";
}


@section LeftNavigation{

    @Html.Partial("PropertySideNav")
}

<h2>Property Portfolio</h2>

<ul class="properties">
    <li>
        <div class="left square green">1</div>
        @Html.RouteLink("Carnarvon, WA", "Carnarvon")
    </li>
    <li class="blue">
        <div class="left square blue">2</div>
        @Html.RouteLink("Boronia, VIC", "Boronia")
    </li>
    <li class="orange">
        <div class="left square orange">3</div>
        @Html.RouteLink("Port Pirie, SA", "Port-Pirie")
    </li>
    <li class="purple">
        <div class="left square purple">4</div>
        @Html.RouteLink("Footscray, VIC", "Footscray")
    </li>
    <li class="red">
        <div class="left square red">5</div>
        @Html.RouteLink("South Brisbane, QLD", "South-Brisbane")
    </li>
    <li class="light-blue">
        <div class="left square light-blue">6</div>
        @Html.RouteLink("Townsville, QLD", "Townsville")
    </li>
    <li class="light-green">
        <div class="left square light-green">7</div>
        @Html.RouteLink("Albury, NSW", "Albury")
    </li>
    <li class="light-green">
        <div class="left square dark-green">8</div>
        @Html.RouteLink("Bowen, QLD", "Bowen")
    </li>
    <li class="dark-grey">
        <div class="left square dark-grey">9</div>
        @Html.RouteLink("Port Augusta, SA", "Port-Augusta")
    </li>
    <li class="dark-grey">
        <div class="left square black">10</div>
        @Html.RouteLink("Goondiwindi, QLD", "Goondiwindi")
    </li>
    <li class="light-grey">
        <div class="left square black">11</div>
        @Html.RouteLink("Glenorchy, TAS", "Glenorchy")
    </li>
    <li class="dark-grey">
        <div class="left square black">12</div>
        @Html.RouteLink("Warragul, VIC", "Warragul")
    </li>
    <li class="dark-grey">
        <div class="left square black">13</div>
        @Html.RouteLink("Brunswick, VIC", "Brunswick")
    </li>
</ul>

<div class="map">
    
    @Html.RouteLink("1", "Carnarvon", new { }, new { @class = "square green carnarvon" })
        @Html.RouteLink("2", "Boronia", new { }, new { @class = "square blue boronia" })
        @Html.RouteLink("3", "Port-Pirie", new { }, new { @class = "square orange port-pirie" })
        @Html.RouteLink("4", "Footscray", new { }, new { @class = "square purple footscray" })
        @Html.RouteLink("5", "South-Brisbane", new { }, new { @class = "square red south-brisbane" })
        @Html.RouteLink("6", "Townsville", new { }, new { @class = "square light-blue townsville" })
        @Html.RouteLink("7", "Albury", new { }, new { @class = "square light-green albury" })
        @Html.RouteLink("8", "Bowen", new { }, new { @class = "square dark-green bowen" })
        @Html.RouteLink("9", "Port-Augusta", new { }, new { @class = "square dark-grey port-augusta" })
        @Html.RouteLink("10", "Goondiwindi", new { }, new { @class = "square black goondiwindi" })
        @Html.RouteLink("11", "Glenorchy", new { }, new { @class = "square black glenorchy" })
        @Html.RouteLink("12", "Warragul", new { }, new { @class = "square black warragul" })
        @Html.RouteLink("13", "Brunswick", new { }, new { @class = "square black brunswick" })

</div>


