@model FileBrowser
@using Portal.FileManager.Controls


<li>
    @Html.LabelFor(o => o.Name) 
    @Html.TextBoxFor(o => o.Name) 
    @Html.ValidationMessageFor(o => o.Name) 
</li>
    
<li>
    @Html.LabelFor(o => o.FolderId) 
    @Html.TextBoxFor(o => o.FolderId) 
    @Html.ValidationMessageFor(o => o.FolderId) 
</li>
    
