@model Heading
@using Portal.Cms.Controls
@using Portal.Cms.Interfaces
@using Portal.Web.Areas.CMS.Models


<li>
    @Html.LabelFor(o => o.Name) 
    @Html.TextBoxFor(o => o.Name) 
    @Html.ValidationMessageFor(o => o.Name) 
</li>
    
    
<li>
    @Html.LabelFor(o => o.Size) 
    @Html.DropDownListFor(o => o.Size, new List<SelectListItem>() { new SelectListItem() { Text = "h1" }, new SelectListItem() { Text = "h2" }, new SelectListItem() { Text = "h3" }, new SelectListItem() { Text = "h4" }, new SelectListItem() { Text = "h5" }, }) 
    @Html.ValidationMessageFor(o => o.Size) 
</li>