@model Portal.Cms.Controls.Html
<li>
    @Html.LabelFor(o => o.Name) 
    @Html.TextBoxFor(o => o.Name) 
    @Html.ValidationMessageFor(o => o.Name) 
</li>
    
<li>
    @Html.LabelFor(o => o.Content) 
    @Html.TextAreaFor(o => o.Content) 
    @Html.ValidationMessageFor(o => o.Content) 
</li>
    
