@model LoginViewModel
@using Portal.Web.Models;
@{
    ViewBag.Title = "Login";
}

<div class="content-padding">

@using (Html.BeginRouteForm("Login", FormMethod.Post))
{
    
    <fieldset>

        <ol class="fields">
            <li>
                <div class="left">
                    @Html.LabelFor(model => model.Username)
                    @Html.TextBoxFor(model => model.Username)
                </div>
                <div class="validation">
                    @Html.ValidationMessageFor(model => model.Username)
                </div>
            </li>
            <li>
                <div class="left">
                    @Html.LabelFor(model => model.Password)
                    @Html.PasswordFor(model => model.Password)
                </div>
                <div class="validation">
                    @Html.ValidationMessageFor(model => model.Username)
                </div>
            </li>
            <li>
                <div class="left">
                    <button type="submit" class="right">Login</button>
                </div>
            </li>
        </ol>
    </fieldset>
    }

</div>