@model LoginViewModel
@using Portal.Web.Models;
@{
    ViewBag.Title = "Login";
}

<div class="content-padding">

@using (Html.BeginRouteForm("Login", FormMethod.Post))
{
    
    <fieldset>

        @Html.ValidationSummary()
        <ul>
            <li>
                @Html.LabelFor(model => model.Username)
                @Html.TextBoxFor(model => model.Username)
            </li>
            <li>
                @Html.LabelFor(model => model.Password)
                @Html.PasswordFor(model => model.Password)
            </li>
            <li>
                <button type="submit"><div>Login</div></button>
            </li>
        </ul>
    </fieldset>
    }

</div>